@media (max-width: 576px) {
    .cabecalho {
        text-align: center;
        background-color: burlywood;
    }

    .cabecalho nav {
        float:none;
        
    }

    .cabecalho nav li {
        display: block;
    }
}

@media (max-width: 375px) {  }///* dispositivos extra pequenos*/


@media (max-width: 576px) {  } // /*dispositivos pequenos (celulares em posição paisagem, menos de 768px)*/


@media (max-width: 768px) {  } // /*dispositivos médios (tablets, menos de 992px)*/


@media (max-width: 992px) {  } // /*dispositivos grandes (desktops, menos de 1200px)*/


@media (max-width: 1200px) {  } // /*dispositivos extra grandes (desktops grandes) // 1200px ou mais, não tem breakpoint*/