* {
    margin: 0;
}

.elemento {
    color: #fff;
    font-size: 32px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.elemento-estatico {
    position: static;
    background-color: crimson;
}
.elemento-relativo {
    position: relative;
    left: 200px;
    background-color: coral;
}
.elemento-absoluto {
    position:absolute;
    left: 200px;
    background-color: darkcyan;
    top: 0;
}

.elemento-relativo-com-filho {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgb(214,212,212);
}

.elemento-absoluto-com-pai {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: darkcyan;
}



