* {
    margin: 0;
}

body {
    height: 1500px;
    padding-top: 67px;
}

header {
    position:fixed ;
    font-size: 24px;
    background-color: lightblue;
    width: 100%;
    padding: 20px;
    top: 0;
   
}