/*ESTILOS GERAIS*/
body {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.container {
    background-color: lightgrey;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: lightseagreen;
    color: white;
    font-size: 1.2em;
}
/*---------ESTILOS GERAIS----------*/

.texto-centralizado-1 {
    width: 250px;
    height: 250px;
    background-color: orange;

    text-align: center;
    line-height: 250px;
}

.texto-centralizado-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
}

.alinhado-margin-auto {
    margin: auto;
    display: block;
}

.alinhado-absolute {
    position: absolute;
    margin: auto;
    top:0 ;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-text-aling {
    text-align: center;
}