.header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .menu {
    display: flex;
  }
  
  .menu li {
    margin-left: 15px;
  }
  
  @media (max-width: 425px) {
    .logo {
      display: block;
      width: 100%;
      text-align: center;
    }
  
    nav {
      width: 100%;
      text-align: center;
    }
  
    .menu {
      display: block;
      margin-top: 30px;
      text-align: center;
    }
  
    .menu li {
      margin-left: 0;
    }
  
    .menu a {
      padding: 10px;
      display: block;
    }
  }
  