*{
    margin: 0;
    padding: 0;

}

html {
    font-size: 24px;
}

ul {
    margin-bottom: 50px;
}

.em-bloco li {
    background-color: aqua;
    margin-bottom: 10px;
    width: 100px;
}

.em-linha li {
    display: inline;
    background-color: aqua;
}

.em-linha-e-bloco li {
    display: inline-block;
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.esconder li {
    display: none;
    background-color: aqua;
    width: 100px;
    height: 100px;

}