html {
    background-color: black;
    color: white;
    font-size: 32px;

}

/* 1 em = 16 pixels */

body {
    background-color: purple;
    width: 50%;
    font-size: 3rem;
}

.pai {
    background-color: #ea80fc;
    width: 50%;
    font-size: 1.5rem;
}

.filha {
    background-color: #1de9b6;
    width: 50%;
    font-size: 0.5rem;
}