.flex {
    display: flex;
    width: 960px;
    max-width: 100%;
    flex-wrap: wrap;
  }
  
  .flex img {
    max-width: 100%;
  }
  
  .coluna {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    flex: 0 1 250px;
    margin: 1em;
  }
  
  .botao {
    align-self: flex-start;
    margin-top: auto;
  }