*{
    margin: 0;
    padding: 0;
}
.cabecalho {
    background-color: aquamarine;
}
.menu {
    background-color: cornflowerblue;
}
.secao-principal {
    background-color: hotpink;
}
.aside {
    background-color: orangered;
}
.rodape {
    background-color: green;
}

.container {
    display: grid;

    /*grid-template-areas: "cabecalho cabecalho cabecalho"
    "menu secao-principal aside"
    "rodape rodape rodape";*/

    grid: "cabecalho cabecalho cabecalho" 200px
    "menu secao-principal aside" 400px
    "rodape rodape rodape" 250px; 
}

.cabecalho {
    grid-area: cabecalho;
}

.menu {
    grid-area: menu;
}

.secao-principal {
    grid-area: secao-principal;
}

.aside {
    grid-area: aside;
}

.rodape {
    grid-area:rodape;
}