body {
    background-color: #e1e2e1;
}

.cabecalho {
    padding: 10px 5px;
    background-color: rgb(88, 97, 107);
}
.cabecalho .logo {
    display: inline-block;
}
.cabecalho nav {
    float: right;
}
.cabecalho nav li {
    display: inline-block;
    padding: 15px;
}

main {
    background-color: white;
    padding: 30px;
    min-width: 320px;
    max-width: 900px;
    width:;
    margin: 0 auto;
}

main .info {
    font-size: 18px;

}

main p {
    font-size: 16px;
}

.imagem img {
    width: 100%;
}